{% extends 'base.html' %}

{% block title%}
Tubs
{% endblock %}

{% block content%}
<h2 class="text-center display-1">Our Tubs</h2>
<hr>

<div class="container text-center bg-light">
    {% for t in tubs %}
    <div class="card text-center mx-3 my-3" style="width: 18rem; display:inline-block">
        <img src="{{t.tub_image.url}}" class="card-img-top">
        <div class="card-body">
            <h4 class="card-title"> {{t.tub_flavour}}</h4>
            <h5 class="card-text">{{t.tub_size}}L</h5>
            {% if t.tub_vegan == True %}
              <p class="card-text text-success">Vegan </p>
            {% else %}  
              <p class="card-text text-danger"> Not Vegan </p>
            {% endif %}
            {% if t.tub_gluten == True %}
            <p class="card-text">Gluten Free </p>
          {% else %}  
            <p class="card-text"> Contains Gluten </p>
          {% endif %}           
         <p class="card-text">{{t.store}} </p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}